---

---

<header class="absolute top-0 left-0 w-full z-50">
  <div class="flex items-center justify-start p-4">
    <a href="/">
      <img src="/logo.webp" alt="Instant Day logo" class="h-18 w-auto" />
    </a>
  </div>
</header>
