<header class="absolute top-0 left-0 w-full z-50">
  <div class="flex items-center justify-start p-3 sm:p-4 md:p-6">
    <a href="/">
      <img
        src="/logo.webp"
        alt="Instant Day logo"
        class="h-10 sm:h-12 md:h-16 lg:h-20 w-auto"
      />
    </a>
  </div>
</header>
