---
interface Props {
  backgroundImage: string;
  band?: "red" | "blue";
}

const { backgroundImage, band = "red" } = Astro.props;
---

<section
  class="relative bg-cover bg-center bg-no-repeat py-40"
  style={`background-image: url('${backgroundImage}');`}
>
  <div>
    <slot />
  </div>
</section>
